@use '../utils/' as u;

/* COLOR*/
$primary: #1f2a48;
$secondary: #ffffff;  



/*PADDING*/
$padding-wide: u.rem(60);
$padding-large: u.rem(40);
$padding-medium: u.rem(20);
$padding-normal: u.rem(16);
$padding-regular: u.rem(10);
$padding-small: u.rem(8);
$padding-xsmall: u.rem(4);
$padding-tiny: u.rem(2);

/*FONT SIZE*/
$font-2xlarge: u.rem(60);
$font-xlarge: u.rem(40);
$font-large: u.rem(20);
$font-medium: u.rem(16);
$font-normal: u.rem(10);
$font-regular: u.rem(8);
$font-small: u.rem(4);
$font-xsmall: u.rem(2);
$font-tiny: u.rem(1);